<div
  class="footer container-fluid"
  style="position: relative; width: 100%; z-index: -50"
>
  <!--logo-->
  <img
    style="width: 200px; position: absolute; left: 129px; top: 259px"
    src="/image/圖層 0.png"
    alt=""
  />

  <!--footer選項-->
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      position: absolute;
      left: 509px;
      bottom: 130px;
    "
  >
    <a
      href="#"
      style="
        writing-mode: vertical-rl;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
      "
      >隱私權政策</a
    >
  </div>

  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      position: absolute;
      left: 629px;
      bottom: 153px;
    "
  >
    <a
      href="#"
      style="
        writing-mode: vertical-rl;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
      "
      >聯絡我們</a
    >
  </div>

  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      position: absolute;
      left: 749px;
      bottom: 153px;
    "
  >
    <a
      href="#"
      style="
        writing-mode: vertical-rl;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
      "
      >最新消息</a
    >
  </div>

  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      position: absolute;
      left: 869px;
      bottom: 153px;
    "
  >
    <a
      href="#"
      style="
        writing-mode: vertical-rl;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
      "
      >關於我們</a
    >
  </div>

  <!--fb,ig-->
  <div id="connect">
    <div
      style="
        display: flex;
        align-items: flex-start;
        gap: 10px;
        left: 869px;
        bottom: 153px;
      "
    >
      <a href="#" style="position: absolute; right: 231px; bottom: 148px"
        ><img src="/image/instagram.png" style="width: 80px"
      /></a>
    </div>

    <div
      style="
        display: flex;
        align-items: flex-start;
        gap: 10px;
        left: 869px;
        bottom: 153px;
      "
    >
      <a href="#" style="position: absolute; right: 113px; bottom: 148px"
        ><img src="/image/facebook.png" style="width: 80px"
      /></a>
    </div>
  </div>

  <!--隱私權-->
  <div style="display: flex; align-items: flex-start; gap: 10px" id="privacy">
    <p style="position: absolute; right: 50px; bottom: 20px; font-size: 10px">
      芳鍋 版權所有 2024 ©All rights reserved
    </p>
  </div>
</div>
